img.about__img{
    border-radius: 10px;
    width: 100%;
}
.About {
    /* margin-bottom: 30px;
    font-weight: 700;
    text-align: start;
    font-family: Montserrat, sans-serif;
    font-size: 100px; */
    font-size: 60px;
    line-height: 54px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    color: #FFF;
}